.content-center {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
}

.time-display {
  font-size: 4rem;
  font-weight: 600;
  font-family: monospace;
  margin-top: 4rem;
  margin-bottom: 3rem;
}

.buttons {
  width: 100%;
  max-width: 320px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
